.vscode/**
.vscode-test/**
.vscode-test-web/**
src/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/*.map
**/*.ts
node_modules/**
out/**
coverage/**
.nyc_output/**
*.test.js
*.spec.js
.eslintrc.json
.prettierrc.json
.husky/**
lint-staged.config.js
